@use "../healpers" as *;

:root {
  --color-light: #ffffff;

  --color-dark: #0e0e0e;
  --color-dark-10: #0a0a0f;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;

  --color-accent-light: #ffe7b2;
  --color-accent-dark: #b68a3d;
  --color-accent: #d4af37;
  --color-accent-10: #eac15b;
  --color-accent-20: #eac767;
  --color-accent-30: #c8a96b;

  // --gradient: linear-gradient(
  //   45deg,
  //   var(--color-dark-15) 64%,
  //   var(--color-accent) 136%
  // );
  // --border: #{rem(1)} solid var(--color-dark-15);

  // --shadow: 0 0 0 #{rem(3)} #191919;

  --font-family-base: "Montserrat", sans-serif;
  --font-family-secondary: "Manrope", sans-serif;
  --font-family-third: "NotoSerif", sans-serif;
  --font-family-alt: "Inter", sans-serif;

  --container-width: #{rem(1160)};
  --container-padding-x: #{rem(15)};
  --header-height: #{rem(87)};

  --transition-duration: 0.3s;

  // @include laptop-media {
  //   --container-width: #{rem(1280)};
  // }
  @include mobile-media {
    --header-height: #{rem(74)};
  }
}
